.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  /* margin-top: 80px; */
  margin-bottom: 10px;
  gap: 30px;
}

.header {
  font-size: 70px;
  font-weight: 500;
  padding-bottom: 30px;
}

.header span {
  color: #de1b89;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column;
}

.img-loading img {
  width: 512px;
  height: 300px;
  border-radius: 0.5rem;
}

.search-box {
  display: flex;
  width: 1000px;
  height: 95px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-color: #1f3540;
}

.search-input {
  width: 600px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding-left: 35px;
  margin-right: 35px;
}

.search-input::placeholder {
  color: #999;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 75px;
  font-size: 20px;
  border-radius: 50px;
  background-color: #de1b89;
  cursor: pointer;
  color: white;
}

.image-container {
  position: relative;
  width: 512px;
  height: 300px;
}
.shimmer {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.8s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #666;
}
